header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
}

body {
    background-image: url("https://previews.123rf.com/images/vectorikart/vectorikart1511/vectorikart151100007/48428963-%EB%8B%A4%EB%A5%B8-%EC%BF%A0%ED%82%A4%EC%99%80-%ED%8F%89%EB%A9%B4-%EB%B2%A1%ED%84%B0-%ED%81%AC%EB%A6%AC%EC%8A%A4%EB%A7%88%EC%8A%A4-%EB%B0%B0%EA%B2%BD-%EC%9B%90%ED%99%9C%ED%95%9C-%ED%8C%A8%ED%84%B4%EC%9E%85%EB%8B%88%EB%8B%A4-%EC%A7%84%EC%A0%80-%EB%B8%8C%EB%A0%88%EB%93%9C-%EB%82%A8%EC%9E%90-%EC%82%AC%EC%8A%B4-%EB%88%88%EC%86%A1%EC%9D%B4-%EB%B2%A8%EA%B3%BC-%EB%8B%A4%EB%A5%B8-%EA%B2%A8%EC%9A%B8-%ED%9C%B4%EA%B0%80-%EA%B8%B0%ED%98%B8%EC%9E%85%EB%8B%88%EB%8B%A4-%EC%A0%84%ED%86%B5-%EC%B6%95%EC%A0%9C-%EB%B2%BD%EC%A7%80.jpg");
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section {
    padding: 15px;
    margin-bottom: 20px;
}

.section img {
    width: 200px;
}

.section:last-child {
    margin-bottom: 0;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

.find_item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link_item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer {
    /* 추가된 푸터 스타일 */
    /*  border-top: 2px solid #ddd;*/
    padding: 20px 0;
    text-align: center;
}




.container {
    background-color: #ffffff8f;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 20px;
}

.container {

    margin: 0 auto;
    background-color: #ffffffa6;
    padding: 20px;
    border-radius: 10px;
    color: #333;
}

.container.section  {
    text-align: center;
}

.section {
   
    text-align: center;
    /* 텍스트를 가운데 정렬 */
    vertical-align: middle;
    /* 수직 방향으로 가운데 정렬 */
}

table img {
    display: block;
    /* 이미지를 블록 요소로 만들어줍니다 */
    margin: 0 auto;
    /* 상하 마진 0, 좌우 마진은 자동으로 설정하여 가운데 정렬 */
}