  /* 이벤트 스타일을 여기에 작성하세요 */
  #header {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

#logo {
    width: 100px;
    height: 100px;
}

table {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    /* 한국어 글꼴 설정 */
}

#event-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    
}
.event-container {
    background-color: #ffffff8f;
    width: 80%;
    height: 900px;
    padding-bottom: 200px; 
    margin-top: 70px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://news.nateimg.co.kr/orgImg/ts/2022/05/03/14689536_790197_3728_org.png");
    background-size: cover; /* 이미지를 화면에 꽉 차게 표시 */
    background-position: center; /* 이미지를 가운데 정렬 */
    background-repeat: no-repeat; /* 이미지 반복 없음 */
    background-size: 100% 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
   
}
.nav-logo{
    width: 200px;
    height: 100%;
    object-fit: contain;
    display: block;
  
}


.nav {
    position: relative;
    width: 98%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.grid {
    width: 100%;
    border-collapse: collapse;
}


.grid img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.footer{
    position: relative;
    width: 100%;
    background-color: rgb(255, 174, 0);
    z-index: 1000;
}

.footer_tag{
    width: 100%;
    height: 100%;
    object-fit: contain;

    display: block;
    text-align: center; /* 가운데 정렬 추가 */
}



.footer{
    position: relative;
    width: 100%;
    background-color: rgba(154, 129, 155, 0.321);
    align-items: center;
}

.footer_item01{
    width: 20px;
    height: 400%;
    margin-left: 43%;
}

.footer_item02{
    width: 5%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    display: block;
    margin: 0 auto;
}


.grid {
    width: 300px;
    height: auto;
    border-collapse: collapse;
    margin: 0 auto; /* 가운데 정렬 추가 */
    background-color: #bbbbbb90;
    border-radius: 40px;
    text-align: center;
    
}

.grid img {
    width: 300px; /* 이미지의 가로 크기를 100px로 지정 */
    height: 300px; /* 이미지의 세로 크기를 100px로 지정 */
    border-radius: 10px;
}


.grid td {
  
    padding: 8px;
    text-align: center;
    border-radius: 10px; /* 테두리 둥글게 설정 */
    font-size: 24px;
}



.nav_link {
    display: inline-block;
    margin-right: 10px; /* 간격 조절 */
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


.about_td {
    font-size: 24px; /* Increase the font size */
}


@media screen and (max-width: 768px) {
    .grid {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    .grid td {
        padding: 4px; /* 모바일 화면에서의 패딩 감소 */
        font-size: 18px; /* 폰트 크기 줄임 */
    }

    .grid img {
        width: 100%; /* 이미지가 셀의 너비에 맞게 조정 */
        height: 300px;
    }

    .event-container {
        width: 100%; /* 모바일 화면에서는 컨테이너를 화면 너비에 맞춤 */
    }
}

/* 테이블의 스크롤 가능한 컨테이너 추가 */
.event-container {
    overflow-x: auto;
}