body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
}

img {
    max-width: 100%; /* 이미지가 부모 요소에 맞게 크기 조절 */
    height: auto; /* 가로 세로 비율 유지 */
}

.nav {
    position: relative;
    width: 98%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.nav-logo-th{
    width: 70px;
    height: 100%;
    margin-right: 20px;
    
}

.nav-logo {
    width: 200px;
    height: 100%;
    margin-right: 20px;
    
}
/* 
.nav-logo img {
    width : 30%;
    height: 100%;
}*/
.main_visual {
    position: relative;
    width: 100%;
    padding-bottom: 620%;
    background-image: url(https://file.thisisgame.com/upload/nboard/news/2019/06/12/20190612162035_7235.jpg);
    background-position: top center;
    background-size: 100% 10%; /* 이미지를 화면에 꽉 차게 설정 */
    background-repeat: no-repeat;
    padding-top:30%;
}


.bg_anime_04 {
    position: absolute;
    width: 14%;
    top: 16%;
    right: 2%;
    object-fit: cover;
}

@keyframes fuwafuwa-2 {
    0%, 100% {
        transform: translateY(-30px); /* 수정: -webkit-transform 제거 */
    }
}
